
body {
  font-family: 'Arial', sans-serif;
  background: #181616;
  color: #333;
  text-align: center;
  padding: 50px;
}

.container {
  max-width: 400px;
  margin: auto;
  background: white;
  padding: 30px;
  border-radius: 15px;
  box-shadow: 0 0 15px rgba(0,0,0,0.1);
}

.profile-img {
  width: 120px;
  border-radius: 50%;
  margin-bottom: 20px;
}

.links a {
  display: inline-block;
  margin: 10px;
  text-decoration: none;
  color: white;
  background-color: #4CAF50;
  padding: 10px 20px;
  border-radius: 10px;
  transition: background 0.3s;
}

.links a:hover {
  background-color: #45a049;
}
